@import './mixins';

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 999;

    &__nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__shrink{
        box-shadow: 0px 0px 10px red;
        color: #FFF;
        backdrop-filter: blur(5);
        background-color: #FFF;
    }
    &__btn-hamburger{
        width: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }   
    &__nav-left{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        font-size: 24px;
        font-weight: 600;
    }

    &__list{
        position: fixed;
        top: 0;
        left: -100%;
        width: 40%;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        box-shadow: 5px 0px 15px crimson;
        transition: 0.7s;
        color: $black;
        gap: 30px;
        padding: 20px;
        background-color: $black
    }
    &__item{
        a{
            position: relative;
            color:#FFF;
            @include exo-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            padding-bottom: 5px;
            &::after{
                content: '';
                position: absolute;
                bottom:0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: red;
                transition: all 0.6s;
            }
            &:hover::after{
                width: 100%;
            }
            &:focus{
                outline:2px solid $black;
                outline-offset: 2px;
            }
        }
    }
    &__list-show{
        left: 0;
    }
    &__right--btn{
        display: none;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 19px 30px;
        background-color: #A259FF;
        border: 2px solid transparent;
        color: #FFF;
        border-radius: 20px;
        &:hover{
            background-color: transparent;
            border: 2px solid #A259FF;
        }
    }
    &__item:nth-child(4){
        display: block;
    }

    .lang{
        display: none;
        select{
            padding: 9.5px 16px;
            border: none;
            border-left: 2px solid gray;
            outline: none;
            option{
                padding: 10px 16px;
            }
        }
    }

    &__nav-right{
        display: block;
        align-items: center;
        gap: 66px;

        .signUp__btn{
            button{
                padding: 12px  49px;
                display: flex;
                align-items: center;
                gap: 16px;
                border: 1px solid #184AFB;
                background-color: #CCC;
                border-radius: 50px;
                cursor: pointer;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
                text-transform: capitalize;
                color: #184AFB;
                &:hover{
                    background-color: transparent;
                }
            }
        }
    }
}

.hero{
    margin-top: 24px;

    &__texts{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__in{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__title{
        @include exo-font;
        font-size: 28px;
        line-height: 35px;
        font-weight: 600;
    }

    &__desc{
        font-size: 15px;
        line-height: 22px;
        @include pt-font;

        
    }

    &__link{
        a{
            font-size: 16px;
            @include pt-font;
            font-weight: 700;
            color: #000;
            line-height: 22px;
            padding-bottom: 8px;
            &:hover{
                border-bottom: 3px solid #FFCE50;
            }
        }

    }
    &__img{
        img{
            max-width: 500px;
            width: 100%;
        }
        .second_truck{
            display: none;
        }
        .thirt_truck{
            display: none;
        }
    }
    &__bottom{
        margin-top: 56px;
        margin-bottom: 57px;

        &-cards{
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 24px 32px;
            border-radius: 20px;
            box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.1);
        }
        .hero__card-top{
            img{
                max-width: 92px;
                width: 100%;
            }
        }
        .hero__card-bottom{
            margin-top: 16px
        }
        .hero__card-title{
            @include exo-font;
            font-weight: 600;
            color: $gray2;
            font-size: 18px;
            line-height: 24px;
        }
        .hero__card-desc{
            @include pt-font;
            font-size: 15px;
            line-height: 22px;
            margin-top: 12px;
        }
    }

}

.profitable{
    &__in{
        display: none;
        align-items: center;
    }

    &__left{
        display: flex;
        align-items: center;
    }   

    &__cards{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px 140px;
        justify-content: center;
    }

    &__card{
        max-width: 450px;
        width: 100%;
        display: flex;
        gap: 32px;
        align-items: center;
        &-infos{
            display: flex;
            flex-direction: column;
            gap: 12px;
    }

}
}


.work{
    margin-top: 120px;
    margin-bottom: 102px;

    &__title{
        @include exo-font;
        font-size: 24px;
        line-height: 30px;
        color: $gray2;
    }

    &__desc{
        @include pt-font;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        margin-top: 20px;
    }
    &__cards{
        margin-top: 56px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__card{
        border-radius: 10px;
        max-width: 393px;
        width: 100%;
        box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.1);

        img{
            max-width: 393px;
            width: 100%;
        }

        &-infos{
            padding: 24px 32px;
            h3{
                @include exo-font;
                font-size: 20px;
                line-height: 27px;
                color: $gray2;
            }
            p{
                @include pt-font;
                font-size: 16px;
                line-height: 24px;
                max-width: 291px;
                color: $gray;
                margin: 16px 0 32px 0;
            }
            a{
                @include exo-font;
                font-size: 16px;
                line-height: 22px;
                color: $gray2;
                border-bottom: 3px solid transparent;
                padding-bottom: 5px;
                &:hover{
                    border-bottom: 3px solid #FFCE50;
                }
            }
        }
    }
}

.stages{
    margin-bottom: 60px;
    &__title{
        font-size: 24px;
    }
    &__card{
        display: flex;
        gap: 56px;
        padding: 32px 0 32px 36px;
        border-radius: 10px;
        margin-top: 48px;
        box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.1);

        img{
            display: none;
        }

        &-infos{
            p{
                max-width: 568px;
                width: 100%;
                @include pt-font;
                line-height: 16px;
                font-size: 14px;
                color: $gray
            }
            h3{
                @include exo-font;
                font-size: 20px;
                color: $gray2;
                line-height: 25px;
            }
            .line{
                height: 2px;
                width: 100px; 
                background-color: #FFCE50;
                margin: 24px 0;
            }
        }
    }
}

.trust{
    margin-bottom: 130px;

    &__title{
        @include exo-font;
        font-size: 24px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__logos{
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    &__logo{
        height: 200px;
        display:flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid $black;
        padding: 0 61px;
        img{
        margin-bottom: 16px;
        }
        &-infos{
            display: flex;
            gap: 14px 0;
            flex-direction: column;
            align-items: center;
        }
    }

    &__logos:nth-child(4){
        .trust__logo{
            border-right: none;
        }
    }
    &__logos:nth-child(2){
        .trust__logo{
            border-right: none;
        }
    }
    &__logos:nth-child(1){
        .trust__logo{
            border-right: none;
        }
    }
    &__logos:nth-child(3){
        display: none;
    }
    &__logos:nth-child(4){
        display: none;
    }
}

.company{
    margin-bottom: 60px;
    .line{
        height: 2px;
        width: 100px; 
        background-color: #FFCE50;
        margin: 24px 0;
    }

    &__title{
        font-size: 24px;
    }
    &__cards{
        margin-top: 30px;
        display:flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    &__card{
        display: flex;

    }
    &__card-left{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 50px;
        height: 210px;
        background-color: #0B7572;
    }
    &__card-right{
        flex-basis: 550px;
        display: flex;
        align-items: center;
        gap: 40px;
        box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.1);
        padding: 32px 0px 32px 32px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    &__links{
        display: flex;
        align-items: center;
        gap:10px;
    }
}

.contact{
    margin-bottom: 50px;
    &__title{
        font-size: 24px;
        line-height: 30px;
        color: $gray2;
        @include exo-font;

    }
    &__in{
        margin-top: 36px;
        display: grid;
        grid-template-columns: auto ;
        align-items: center;
        gap:15px;
        
        
    }
    &__left{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .tel{
        display: flex;
        gap: 20px;
        p{
            @include pt-font;
            font-size: 14px;
            line-height: 16px;
            color: $gray2;
        }
        a{
            @include exo-font;
            font-size: 20px;
            line-height: 24px;
            color: $gray2;
        }
    }
    &__right{
        padding: 15px;
        border-radius: 5px;
        background-color: #F9F9FB;
        table, td, th {
            padding-bottom: 16px;
            padding-top: 15px;
            padding-left: 24px;
            
          }
          th{
            @include pt-font;
            color: $gray;
            font-size: 12px;
            text-align: left;
            border: none;
            border-bottom: 1px solid #80808026;
          }
          td{
            @include exo-font;
            font-size: 14px;
            line-height: 14px;
            border: none;
            border-bottom: 1px solid #80808026; 
          }
          
          table {
            border-collapse: collapse;
          }
    }
}

.video{
    iframe{
        max-width:1058px;
        width: 100%; 
        height:295px;
    }
}

.footer{
    padding: 20px 0;
    background-color: #0B7572;
    margin-top: 166px;
    color: $white;

    &__desc{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            @include exo-font;
            font-weight: 300;
            font-size: 16px;
            letter-spacing: 16%;
            align-items: center;
        }
    }
    .row{
        width: 100%;
        display:grid;
        grid-template-columns: auto;
        gap: 40px;
    }

    .column1{
        img{
            width: 200px;
            height: 70px;
        }
    }

    .column2{
        .footer__list{
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        .footer__list-link{
            color: $white;
            @include exo-font;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 16%;
            align-items: center;
            border-bottom: 1px solid transparent;
            &:hover{
                padding-left: 5px;
                color: #FF9619;
                border-bottom: 1px solid #FF9619;
            }
        }
    }

    .column3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 22px;
        margin-bottom: 20px;
    }
    &__links{
        display: flex;
        gap: 20px;
    }
    &__tel a{
        color: $white
    }
    &__btn{
        a{
            padding: 8px 20px;
            background-color: #FF9619;
            color: $white;
            border: 2px solid transparent;
            cursor: pointer;
            &:hover{
                border: 2px solid #FF9619;
                background-color: transparent;
            }
        }
    }
}


// .clients{
//     background-color: #0B7572;

//     &__title{
//         padding-top: 32px;
//         padding-bottom: 40px;
//         color: $white;
//         font-size: 28px;
//         line-height: 35px;
//         @include exo-font;
//     }
// }







@media (min-width:700px){
    .header{
        &__nav{
            display: flex;
            justify-content: space-between;
        }
        &__list{
            position: static;
            flex-direction: row;
            box-shadow: none;
            height: auto;
            width: auto;
            background-color: transparent;
        }

        &__item{
            a{
                color: $black;
            }
        }
        &{
            &__btn-hamburger{
                display: none;
            }
        }
        &__right--btn{
            display: flex;
        }
        &__item:nth-child(4){
            display: block;
        }

        &__nav-right{
            display: flex;
            align-items: center;
            gap: 66px;
    
            .signUp__btn{
                button{
                    padding: 9.5px  49px;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    border: 1px solid #184AFB;
                    background-color: #FFF;
                    border-radius: 50px;
                    cursor: pointer;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                    text-transform: capitalize;
                    color: #184AFB;
                    &:hover{
                        background-color: #184AFB;
                        color: #FFF;
                        img{
                            fill: #FFF;
                        }
                    }
                }
            }
        }
        
    }
    .hero{
        margin-top: 24px;
        &__texts{
            display: flex;
            flex-direction: column;
            gap: 32px;
        }
    
        &__in{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }
        &__title{
            font-size: 44px;
            line-height: 55px;
            font-weight: 600;
            color: $gray2;
        }
    
        &__desc{
            max-width: 700px;
            width: 100%;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $gray;
        }
    
        &__link{
            display: flex;
            justify-content: center;
            a{
                
                font-size: 16px;
                font-weight: 700;
                color: #000;
                line-height: 24px;
                padding-bottom: 8px;
                border-bottom: 3px solid transparent;
                &:hover{
                    border-bottom: 3px solid #FFCE50;
                }
            }
    
        }
        &__img{
            img{
                max-width: 500px;
                width: 100%;
            }
            .first_truck{
                display: none;
            }
            .second_truck{
                display: block;
                max-width: 690px;
                width: 100%;
            }

            .thirt_truck{
                display: none;
            }
        }
        &__bottom{
            margin-top: 56px;
            &-cards{
                display: flex;
                flex-direction: column;
                gap: 24px;
                padding: 24px 32px;
                border-radius: 20px;
                box-shadow: none;
            }

            .hero__bottom-card{
                padding: 30px 32px;
                box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.1);
                display: flex;
                gap: 32px;
                border-radius: 20px;
            }

            .hero__card-bottom{
                margin-top: 16px;
            }
            .hero__card-title{
                @include exo-font;
                font-weight: 600;
                color: $gray2;
                font-size: 18px;
                line-height: 24px;
            }
            .hero__card-desc{
                @include pt-font;
                font-size: 15px;
                line-height: 22px;
                margin-top: 12px;
            }
        }
    }
    .work{
        margin-top: 120px;
        margin-bottom: 212px;
    
        &__title{
            @include exo-font;
            font-size: 56px;
            line-height: 60px;
            color: $gray2;
        }
    
        &__desc{
            @include pt-font;
            font-size: 16px;
            line-height: 24px;
            color: $gray;
            margin-top: 60px;
        }
        &__cards{
            margin-top: 56px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
    
        &__card{
            border-radius: 10px;
            max-width: 393px;
            width: 100%;
            box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.1);
    
            img{
                max-width: 393px;
                width: 100%;
            }
    
            &-infos{
                padding: 24px 32px;
                h3{
                    @include exo-font;
                    font-size: 20px;
                    line-height: 27px;
                    color: $gray2;
                }
                p{
                    @include pt-font;
                    font-size: 16px;
                    line-height: 24px;
                    max-width: 291px;
                    color: $gray;
                    margin: 16px 0 32px 0;
                }
                a{
                    @include exo-font;
                    font-size: 16px;
                    line-height: 22px;
                    color: $gray2;
                    border-bottom: 3px solid transparent;
                    padding-bottom: 5px;
                    &:hover{
                        border-bottom: 3px solid #FFCE50;
                    }
                }
            }
        }
    }
    .stages{
        margin-bottom: 120px;
        &__title{
            font-size: 48px;
        }
        &__card{
            display: flex;
            gap: 56px;
            padding: 32px 0 32px 36px;
            border-radius: 10px;
            margin-top: 48px;
            box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.1);
    
            img{
                display: flex;
            }
    
            &-infos{
                p{
                    max-width: 568px;
                    width: 100%;
                    @include pt-font;
                    line-height: 24px;
                    color: $gray;
                    font-size:16px;
                }
                h3{
                    @include exo-font;
                    font-size: 20px;
                    color: $gray2;
                    line-height: 25px;
                }
                .line{
                    height: 2px;
                    width: 100px; 
                    background-color: #FFCE50;
                    margin: 24px 0;
                }
            }
        }
    }
    .trust{
        margin-bottom: 130px;
    
        &__title{
            @include exo-font;
            font-size: 48px;
            line-height: 40px;
            margin-bottom: 60px;
        }
        &__row{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__logos{
            display: flex;
            flex-direction: column;
            gap: 70px;
        }
        &__logo{
            height: 200px;
            display:flex;
            flex-direction: column;
            align-items: center;
            border-right: 1px solid $black;
            padding: 0 61px;
            img{
            margin-bottom: 16px;
            }
            &-infos{
                display: flex;
                gap: 14px 0;
                flex-direction: column;
                align-items: center;
            }
        }
    
        &__logos:nth-child(4){
            .trust__logo{
                border-right: none;
            }
        }
        &__logos:nth-child(2){
            .trust__logo{
                border-right: none;
            }
        }
        &__logos:nth-child(1){
            .trust__logo{
                border-right: 1px solid $black;
            }
        }
        &__logos:nth-child(3){
            .trust__logo{
                border-right:none;
            }
        }
        &__logos:nth-child(3){
            display: none;
        }
        &__logos:nth-child(4){
            display: none;
        }
    }
    .contact{
        margin-bottom: 100px;
        &__title{
            font-size: 48px;
            line-height: 60px;
            color: $gray2;
            @include exo-font;
    
        }
        &__in{
            margin-top: 72px;
            display: grid;
            grid-template-columns: auto auto ;
            align-items: center;
            gap:30px;
            
            
        }
        &__left{
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        .tel{
            display: flex;
            gap: 40px;
            p{
                @include pt-font;
                font-size: 16px;
                line-height: 20px;
                color: $gray2;
            }
            a{
                @include exo-font;
                font-size: 20px;
                line-height: 24px;
                color: $gray2;
            }
        }
        &__right{
            padding: 30px;
            border-radius: 5px;
            background-color: #F9F9FB;
            table, td, th {
                padding-bottom: 32px;
                padding-top: 30px;
                padding-left: 48px;
                
              }
              th{
                @include pt-font;
                color: $gray;
                font-size: 16px;
                text-align: left;
                border: none;
                border-bottom: 1px solid #80808026;
              }
              td{
                @include exo-font;
                font-size: 16px;
                line-height: 14px;
                border: none;
                border-bottom: 1px solid #80808026; 
              }
              
              table {
                border-collapse: collapse;
              }
        }
    }
    .video{
        &__truck{
            display: flex;
            justify-content: center;
        }
        iframe{
            max-width:1258px;
            width: 100%; 
            height:595px;
        }
    }
    .footer{
        padding-top: 59px;
        padding-bottom: 20px;
        background-color: #0B7572;
        margin-top: 166px;
        color: $white;

        &__desc{
            margin-top: 80px;
        }

        .row{
            width: 100%;
            display:grid;
            grid-template-columns: auto auto auto ;
            gap: 40px;
        }
    
        .column1{
            img{
                width: 200px;
                height: 70px;
            }
        }
    
        .column2{
            .footer__list-link{
                color: $white;
            }
        }
    
        .column3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 22px;
            margin-bottom: 20px;
        }
        &__links{
            display: flex;
            gap: 20px;
        }
        &__tel a{
            color: $white
        }
        &__btn{
            a{
                padding: 8px 20px;
                background-color: #FF9619;
                color: $white;
                border: 2px solid transparent;
                cursor: pointer;
                &:hover{
                    border: 2px solid #FF9619;
                    background-color: transparent;
                }
            }
        }
    }
}

@media (min-width:1200px) {
    .header{
        &__nav{
            display: flex;
            justify-content: space-between;
        }
        &__list{
            position: static;
            flex-direction: row;
            box-shadow: none;
            height: auto;
            width: auto;
            background-color: transparent;
        }

        &__item{
            a{
                color: $black;
            }
        }
        &{
            &__btn-hamburger{
                display: none;
            }
        }
        &__right--btn{
            display: flex;
        }
        &__item:nth-child(4){
            display: block;
        }

        &__nav-right{
            display: flex;
            align-items: center;
            gap: 66px;
    
            .signUp__btn{
                button{
                    padding: 9.5px  49px;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    border: 1px solid #184AFB;
                    background-color: #FFF;
                    border-radius: 50px;
                    cursor: pointer;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                    text-transform: capitalize;
                    color: #184AFB;
                    &:hover{
                        background-color: #184AFB;
                        color: #FFF;
                        img{
                            fill: #FFF;
                        }
                    }
                }
            }
        }
    }
    .hero{
        margin-top: 24px;
        &__texts{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 32px;
        }
    
        &__in{
            display: flex;
            flex-direction:row;
            align-items: center;
            gap: 32px;
        }
        &__title{
            font-size: 44px;
            line-height: 55px;
            font-weight: 600;
            color: $gray2;
        }
    
        &__desc{
            max-width: 700px;
            width: 100%;
            font-size: 16px;
            line-height: 24px;
            text-align:justify;
            color: $gray;
        }
    
        &__link{
            display: flex;
            justify-content: flex-start;
            a{
                
                font-size: 16px;
                font-weight: 700;
                color: #000;
                line-height: 24px;
                padding-bottom: 8px;
                border-bottom: 3px solid transparent;
                &:hover{
                    border-bottom: 3px solid #FFCE50;
                }
            }
    
        }
        &__img{
            img{
                max-width: 635px;
                width: 100%;
            }
            .first_truck{
                display: none;
            }

            .second_truck{
                display: none;
            }
            .thirt_truck{
                display: flex;
            }
        }
        &__bottom{
            margin-top: 56px;
            &-cards{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                gap: 24px;
                padding: 24px 32px;
                border-radius: 20px;
                box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.1);
            }

            .hero__bottom-card{
                padding: 30px 72px;
                box-shadow: none;
                display: block;
                gap: 32px;
                border-radius: 1px;
                &:nth-child(2){
                    border-radius: none;
                    border: 1px solid #0000002a;
                    border-top: none;
                    border-bottom: none;
                }
            }

            .hero__card-bottom{
                margin-top: 16px;
            }
            .hero__card-title{
                max-width: 228px;
                @include exo-font;
                font-weight: 600;
                color: $gray2;
                font-size: 18px;
                line-height: 24px;
            }
            .hero__card-desc{
                max-width: 225px;
                @include pt-font;
                font-size: 15px;
                line-height: 22px;
                margin-top: 12px;
            }
        }
    }
    .trust{
        margin-bottom: 130px;
    
        &__title{
            @include exo-font;
            font-size: 48px;
            line-height: 40px;
            margin-bottom: 60px;
        }
        &__row{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__logos{
            display: flex;
            flex-direction: column;
            gap: 70px;
        }
        &__logo{
            height: 200px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-right: 1px solid $black;
            padding: 0 61px;
            img{
            margin-bottom: 16px;
            }
            &-infos{
                display: flex;
                gap: 14px 0;
                flex-direction: column;
                align-items: center;
            }
        }
    
        &__logos:nth-child(4){
            .trust__logo{
                border-right: none;
            }
        }
        &__logos:nth-child(2){
            .trust__logo{
                border-right: 1px solid $black;
            }
        }
        &__logos:nth-child(1){
            .trust__logo{
                border-right: 1px solid $black;
            }
        }
        &__logos:nth-child(3){
            .trust__logo{
                border-right:1px solid $black;
            }
        }
        &__logos:nth-child(3){
            display: flex;
        }
        &__logos:nth-child(4){
            display: flex;
        }
    }
    .footer{
        padding-top: 59px;
        padding-bottom: 20px;
        background-color: #0B7572;
        margin-top: 166px;
        color: $white;

        &__desc{
            margin-top: 80px;
        }

        .row{
            width: 100%;
            display:grid;
            grid-template-columns: auto auto auto  auto;
            gap: 40px;
        }
    
        .column1{
            img{
                width: 200px;
                height: 70px;
            }
        }
    
        .column2{
            .footer__list-link{
                color: $white;
            }
        }
    
        .column3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 22px;
            margin-bottom: 20px;
        }
        &__links{
            display: flex;
            gap: 20px;
        }
        &__tel a{
            color: $white
        }
        &__btn{
            a{
                padding: 8px 20px;
                background-color: #FF9619;
                color: $white;
                border: 2px solid transparent;
                cursor: pointer;
                &:hover{
                    border: 2px solid #FF9619;
                    background-color: transparent;
                }
            }
        }
    }



}
